#### Advanced Indexing with reindex()

In [1]:
import pandas as pd

In [3]:
temp = pd.read_csv("./Course_Materials_Part4/Course_Materials_Part4/Video_Lecture_NBs/temp.csv", parse_dates=["datetime"], index_col="datetime")

In [4]:
temp.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [5]:
temp.tail()

                       LA   NY
datetime
2016-12-31 19:00:00  13.5  4.6
2016-12-31 20:00:00  13.2  5.7
2016-12-31 21:00:00  12.8  5.8
2016-12-31 22:00:00  12.3  5.7
2016-12-31 23:00:00  11.9  5.5

In [7]:
# 일일평균값
temp_d = temp.resample("D").mean()
temp_d

                   LA         NY
datetime
2013-01-01   8.858333  -0.404167
2013-01-02   9.283333   3.208333
2013-01-03  10.304167  -2.425000
2013-01-04  11.512500  -2.070833
2013-01-05  11.083333   0.816667
...               ...        ...
2016-12-27  12.154167  10.579167
2016-12-28  14.433333   4.016667
2016-12-29  16.045833   1.312500
2016-12-30  15.933333   2.204167
2016-12-31  13.275000   1.204167

[1461 rows x 2 columns]

In [14]:
birthd = pd.date_range(end = "2018-12-24", periods=10, freq=pd.DateOffset(years =1))
birthd

DatetimeIndex(['2009-12-24', '2010-12-24', '2011-12-24', '2012-12-24',
               '2013-12-24', '2014-12-24', '2015-12-24', '2016-12-24',
               '2017-12-24', '2018-12-24'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [16]:
temp_d.loc[birthd] # 데이터에 없는 인덱스들이 있음

KeyError: "[Timestamp('2009-12-24 00:00:00'), Timestamp('2010-12-24 00:00:00'), Timestamp('2011-12-24 00:00:00'), Timestamp('2012-12-24 00:00:00'), Timestamp('2017-12-24 00:00:00'), Timestamp('2018-12-24 00:00:00')] not in index"

In [20]:
# 결측값 처리가능
temp_d.reindex(birthd, method="bfill") # temp_d의 맨 앞과 동일하게 채워짐

                   LA         NY
2009-12-24   8.858333  -0.404167
2010-12-24   8.858333  -0.404167
2011-12-24   8.858333  -0.404167
2012-12-24   8.858333  -0.404167
2013-12-24  16.158333   3.487500
2014-12-24  10.712500   8.045833
2015-12-24  10.716667  17.462500
2016-12-24  11.820833   4.045833
2017-12-24        NaN        NaN
2018-12-24        NaN        NaN

In [21]:
temp_d.head()

                   LA        NY
datetime
2013-01-01   8.858333 -0.404167
2013-01-02   9.283333  3.208333
2013-01-03  10.304167 -2.425000
2013-01-04  11.512500 -2.070833
2013-01-05  11.083333  0.816667

In [22]:
# 결측값 처리가능
temp_d.reindex(birthd, method="ffill") # temp_d의 가장 마지막과 동일하게 채워짐

                   LA         NY
2009-12-24        NaN        NaN
2010-12-24        NaN        NaN
2011-12-24        NaN        NaN
2012-12-24        NaN        NaN
2013-12-24  16.158333   3.487500
2014-12-24  10.712500   8.045833
2015-12-24  10.716667  17.462500
2016-12-24  11.820833   4.045833
2017-12-24  13.275000   1.204167
2018-12-24  13.275000   1.204167

In [23]:
temp_d.tail()

                   LA         NY
datetime
2016-12-27  12.154167  10.579167
2016-12-28  14.433333   4.016667
2016-12-29  16.045833   1.312500
2016-12-30  15.933333   2.204167
2016-12-31  13.275000   1.204167

In [24]:
temp_d.reindex(birthd, method="nearest")

                   LA         NY
2009-12-24   8.858333  -0.404167
2010-12-24   8.858333  -0.404167
2011-12-24   8.858333  -0.404167
2012-12-24   8.858333  -0.404167
2013-12-24  16.158333   3.487500
2014-12-24  10.712500   8.045833
2015-12-24  10.716667  17.462500
2016-12-24  11.820833   4.045833
2017-12-24  13.275000   1.204167
2018-12-24  13.275000   1.204167